<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lively</title>
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">

    <!-- This link is to make the Logo be cursive -->
    <link href="https://fonts.googleapis.com/css?family=Aguafina+Script" rel="stylesheet">
</head>

<body>
    <section class="cover text-center">
        <<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-trans navbar-inverse">
            <div class="container mt-4">
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarToggler-1" aria-controls="navbarToggler-1" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" href="#">Lively</a>
                <div class="collapse navbar-collapse pull-xs-right justify-content-center" id="navbarToggler-1">
                    <ul class="navbar-nav mt-2 mt-md-0">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Destinations <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Experiences</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Our Why</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Meet The Team</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-outline-white btn-outline" href="#"><i class="fa fa-user"></i> Login
                                </a>
                        </li>
                    </ul>
                </div>


            </div>
            </nav>
            <!-- Landing page banner -->
            <div class="cover-container pb-5">
                <div class="cover-inner container">
                    <p class="lead">Find Your Experience</p>
                </div>
    </section>
</body>

</html>