<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lively</title>
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/css/custom.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">

    <!-- This link is to make the Logo be cursive -->
    <link href="https://fonts.googleapis.com/css?family=Aguafina+Script" rel="stylesheet">
</head>

<body>
    <!-- Section that hightlights what makes us different from other travel websites -->
    <section>
        <div class="cover mt-0">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="#">Lively</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon"></span>
                        </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0 mx-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Destinations <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Experiences</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Stories</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Login</a>
                        </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>
            </nav>
            <!-- Top page Banner -->
            <div class="containerHeading">
                <h1 class="cover3-lead text-center">Travel Done Better</h1>
            </div>
            <!-- Bootstrap Cards -->
            <div class="card-group">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Find Local Events</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <div class="container text-center">
                            <a href="#" class="btn btn-primary">Plan</a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Explore Not Well Known Places</h5>
                        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                        <div class="container text-center">
                            <a href="#" class="btn btn-primary">Find Hidden Gems</a>
                        </div>
                    </div>
                </div>
                <div class="card">

                    <div class="card-body">
                        <h5 class="card-title">Share The Experience</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                        <div class="container text-center">
                            <a href="#" class="btn btn-primary">Login</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- Section that sells why we are worth your time -->


    <!-- Section that hightlights things to do -->


    <!-- Section that is a call to action (sign up or subscribe) -->

</body>

</html>