/*---- Body Styling ----*/
body {
    /*---- Setup CSS Grid on body ----*/
    display: grid;
    /*---- Create 4 rows of varing sizes ----*/
    grid-template-rows: 100vh auto auto 100px;
    /*---- Assign elements to grid rows ----*/
    grid-template-areas: "header"
                         "search"
                         "creators"
                         "footer";
    /*---- Set font ----*/
    font-family: "futura-pt", sans-serif;
    /*---- Delete body's margins ----*/
    margin: 0;
}

/*---- Header Styling ----*/
.header {
    /*---- Label element for assignment ----*/
    grid-area: header;
    /*---- Setup CSS Grid on header ----*/
    display: grid;
    /*---- Create 2 rows of varing sizes ----*/
    grid-template-rows: auto auto;
    /*---- Assign elements to grid rows ----*/
    grid-template-areas: "nav"
                         "hero";
    /*---- Set background image with overlay to darken ----*/
    background: linear-gradient(
        /*---- black to black gradient with opacity ----*/
              rgba(0, 0, 0, 0.2),
              rgba(0, 0, 0, 0.2)
        ), url(../img/festival-cover-crop.jpg) center;
    /*---- Have background image cover the header ----*/
    background-size: cover;
}

/*---- Navigation Styling ----*/
.nav {
    width: 100vw;
    height: 75.33px;
    display: grid;
    grid-template-columns: auto 102px;
    grid-template-areas: "logo  dropDownMenuown";
    background: linear-gradient(
            rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0.2)
        );
}

.logo {
    grid-area: logo;
    font-family: 'Aguafina Script', cursive;
    color: #28a745 !important;
    font-size: 36px;
    padding: 10px 20px 10px;
    text-decoration: none;
}

.navLinks {
    display: none;
}

.dropdownMenu {
    grid-area: dropdown;
    position: relative;
    display: inline-block;
}

.dropDownButton {
    background-color: transparent;
    color: white;
    float: right;
    padding: 22px 30px 22px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropDownButton hr {
    display: block;
    border-top: 2px solid;
    margin: 5px;
    padding: 0px 15px 0px;
}

.dropdownContent {
    display: none;
    position: absolute;
    top: 75.33px;
    left: 0;
    background-color: #06040A;
    width: 100vw;
    z-index: 1;
}

.dropdownContent a {
    color: white;
    padding: 12px 16px;
    text-align: center;
    text-decoration: none;
    display: block;
}

.dropdownContent a:hover {
    background-color: #28a745;
}

.dropDownMenu:hover .dropdownContent {
    display: block;
}

/*---- Hero Banner Styling ----*/
.hero {
    grid-area: hero;
    margin: 80px 100px 0px;
    color: white;
}

.hero hr {
    color: white;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0),
                                                rgba(255, 255, 255, 0.75),
                                                rgba(255, 255, 255, 0));
}

.hero h1 {
    font-size: calc(36px + (64 - 36) * ((100vw - 320px) / (1024 - 320)));
}

.heroParagraphOne {
    font-size: calc(16px + (20 - 16) * ((100vw - 320px) / (1024 - 320)));
}

.learnMore {
    display: inline-block;
    font-size: 16px;
    color: white;
    background-color: #28a745 !important;
    border: none;
    padding: 15px 48px;
    text-align: center;
    text-decoration: none;
}

/*---- Search Styling ----*/
.search {
    grid-area: search;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 100px auto 100px;
    grid-template-areas: "searchHeader  searchHeader  searchHeader"
                         ".  searchInputs  .";
    background-color: #06040A !important;
    justify-items: center;
    color: white;
    box-shadow: 0px 2px 12px black;
}

.searchHeader {
    grid-area: searchHeader;
    margin-top: 85.33px;
    font-size: calc(32px + (48 - 32) * ((100vw - 320px) / (1024 - 320)));
}

.searchInputs {
    grid-area: searchInputs;
    display: grid;
    grid-template-columns: auto auto auto auto;
    font-size: calc(16px + (20 - 16) * ((100vw - 320px) / (1024 - 320)));
    margin: 0px 0px 36px;
}

.searchInput {
    font-size: calc(16px + (20 - 16) * ((100vw - 320px) / (1024 - 320)));
    padding-right: 80px;
    margin-right: 20px;
}

.category {
    margin-right: 10px;
}

.select {
    margin-right: 20px;
}

.submit {
    font-size: calc(16px + (20 - 16) * ((100vw - 320px) / (1024 - 320)));
    background-color: #28a745 !important;
    border: none;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    display: inline-block;
}

/*---- Extra Section if Needed ----*/
.main {
    display: none;
    grid-area: main;
}

/*---- Creators Section Styling ----*/
.creators {
    grid-area: creators;
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 100px 1fr 1fr 1fr 100px;
    grid-template-areas: ".  creatorsHeader  creatorsHeader  creatorsHeader  ."
                         ".  andresImg  jorgeImg  brandonImg  ."
                         ".  andresBio  jorgeBio  brandonBio  .";
    justify-items: center;
}

.creators img {
    width: 22vw;
}

.creators p {
    width: 22vw;
    margin-bottom: 36px;
}

.creatorsHeader {
    grid-area: creatorsHeader;
    margin-top: 85.33px;
    font-size: calc(32px + (48 - 32) * ((100vw - 320px) / (1024 - 320)));
}

.andresImg {
    grid-area: andresImg;
}

.andresBio {
    grid-area: andresBio;
}

.jorgeImg {
    grid-area: jorgeImg;
}

.jorgeBio {
    grid-area: jorgeBio;
}

.brandonImg {
    grid-area: brandonImg;
}

.brandonBio {
    grid-area: brandonBio;
}

/*---- Footer Styling ----*/
.footer {
    grid-area: footer;
    display: grid;
    grid-template-columns: 100px 206px auto 206px 100px;
    grid-template-areas: ".  github  .  copyright  .";
    background-color: #06040A !important;
    align-items: center;
    justify-items: center;
    text-align: center;
    color: white;
}

.footer a {
    color: white;
    text-decoration: none;
}

.github {
    grid-area: github;
}

.copyright {
    grid-area: copyright;
}
