/* Logo */

.lively {
    font-family: 'Aguafina Script', cursive;
    color: #28a745 !important;
    font-size: 7.5rem;
}


/* Navbar Styling */

nav {
    background: transparent;
}

a.nav-link {
    font-family: "futura-pt", sans-serif;
    font-weight: 900;
    font-size: 1.5rem;
    color: #28a745 !important;
}


/* To float the div.intro container at the bottom of the div.cover container */

h1.display-3 {
    margin-top: 22rem;
}


/* Header Section Cover Photo */

.cover {
    background: url(../img/festival-cover.jpg) center;
    background-size: cover;
    min-height: 50rem;
    height: auto;
    border-radius: 0;
    width: 100%;
    color: #fff;
    padding-top: 1rem;
}


/* Styling for creators section */

#andres {
    width: 100%;
}


/*========== CSS Styles That Override Bootstrap CSS==========*/


/* Hamburger menu styling */

button.navbar-toggler {
    border-color: #28a745 !important;
}