body {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    background-color: #ffffff;
    color: #46484a;
}

.navbar-trans {
    background: transparent;
}

#logo {
    font-family: 'Aguafina Script', cursive;
    color: #fff !important;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 0;
}


/* London Section Styling */

.cover {
    background: url(img/London_small.jpg) center;
    background-size: cover;
    min-height: 50rem;
    height: auto;
    border-radius: 0;
    width: 100%;
    color: #fff;
    padding-top: 1rem;
}

.cover p.lead {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff !important;
    font-size: 2rem;
    font-weight: bold;
    margin: 2rem auto;
}


/* Japan Section Styling */

.cover-2 {
    background: url(img/Japan_small.jpg) center;
    background-size: cover;
    min-height: 50rem;
    height: auto;
    border-radius: 0;
    width: 100%;
    color: #fff;
    padding-top: 1rem;
}

.cover-2 p.lead {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff !important;
    font-size: 2rem;
    font-weight: bold;
    margin: 2rem auto;
}


/* Germany Section Styling */

.cover-3 {
    background: url(img/Germany_small.jpg) center;
    background-size: cover;
    min-height: 50rem;
    height: auto;
    border-radius: 0;
    width: 100%;
    color: #fff;
    padding-top: 1rem;
}

.cover-3 p.lead {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff !important;
    font-size: 2rem;
    font-weight: bold;
    margin: 2rem auto;
}
